<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1>Dashboard</h1>
    <%- include('notifications.ejs') %>

    <p class="text-gray-600">Welcome, <%= user.firstName %> <%= user.lastName %></p>

    <% if (user.role === 'educator') { %>
        <%- include('educatorhome.ejs') %>
    <% } else if (user.role === 'student') { %>
        <%- include('studenthome.ejs') %>
    <% } %>

    <p class="text-gray-600">Available courses:</p>
    <a href="/signout">Sign out</a>
</body>
</html>

